# Content-based filtering

In order to perform content based filtering, I going to use the column prod_name of the articles dataframe as a first approach. This column contains the names of the articles respectively.

First I'm going to import the datasets needed for the recommendation. I'm going to use the TfidfVectorizer provided by sklearn.

In [1]:
import pandas as pd
import numpy as np

In [236]:
df_articles = pd.read_csv("../data/h-and-m-personalized-fashion-recommendations/articles.csv", dtype={'article_id': 'string'})
df_customers = pd.read_csv("../data/h-and-m-personalized-fashion-recommendations/customers.csv")
df_sample = pd.read_csv("../data/h-and-m-personalized-fashion-recommendations/sample_submission.csv")
df_transactions = pd.read_csv("../data/h-and-m-personalized-fashion-recommendations/transactions_train.csv", dtype={'article_id': 'string'}, parse_dates=[0])

In [237]:
df_articles_20k = df_articles.head(20000)
df_articles_20k

,article_id,product_code,prod_name,product_type_no,product_type_name,product_group_name,graphical_appearance_no,graphical_appearance_name,colour_group_code,colour_group_name,...,department_name,index_code,index_name,index_group_no,index_group_name,section_no,section_name,garment_group_no,garment_group_name,detail_desc
0,0108775015,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,9,Black,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
1,0108775044,108775,Strap top,253,Vest top,Garment Upper body,1010016,Solid,10,White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
2,0108775051,108775,Strap top (1),253,Vest top,Garment Upper body,1010017,Stripe,11,Off White,...,Jersey Basic,A,Ladieswear,1,Ladieswear,16,Womens Everyday Basics,1002,Jersey Basic,Jersey top with narrow shoulder straps.
3,0110065001,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,9,Black,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,0110065002,110065,OP T-shirt (Idro),306,Bra,Underwear,1010016,Solid,10,White,...,Clean Lingerie,B,Lingeries/Tights,1,Ladieswear,61,Womens Lingerie,1017,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0586608009,586608,Malibu,274,Shorts,Garment Lower body,1010001,All over pattern,73,Dark Blue,...,Kids Boy Shorts,H,Children Sizes 92-140,4,Baby/Children,46,Kids Boy,1025,Shorts,Cotton poplin shorts with an elasticated draws...
19996,0586645001,586645,Robyn cargo,262,Jacket,Garment Upper body,1010016,Solid,19,Greenish Khaki,...,Woven Tops,A,Ladieswear,1,Ladieswear,8,Mama,1010,Blouses,"Cotton parka with a high collar, shoulder tabs..."
19997,0586648001,586648,Isabella,258,Blouse,Garment Upper body,1010016,Solid,53,Dark Pink,...,Woven Tops,A,Ladieswear,1,Ladieswear,8,Mama,1010,Blouses,Blouse in airy plumeti chiffon with a stand-up...
19998,0586651002,586651,Viggo jogger,272,Trousers,Garment Lower body,1010016,Solid,9,Black,...,Young Boy Trouser,I,Children Sizes 134-170,4,Baby/Children,47,Young Boy,1009,Trousers,Pull-on trousers in cotton twill with an elast...
19999,0586651005,586651,Viggo jogger,272,Trousers,Garment Lower body,1010016,Solid,19,Greenish Khaki,...,Young Boy Trouser,I,Children Sizes 134-170,4,Baby/Children,47,Young Boy,1009,Trousers,Pull-on trousers in cotton twill with an elast...

In [238]:
from sklearn.feature_extraction.text import TfidfVectorizer

#Define a TF-IDF Vectorizer Object. Remove all english stop words such as 'the', 'a'
tfidf = TfidfVectorizer(stop_words='english')

#Construct the required TF-IDF matrix by fitting and transforming the data
tfidf_matrix = tfidf.fit_transform(df_articles_20k['product_group_name'])

#Output the shape of tfidf_matrix
tfidf_matrix.shape

(20000, 14)

As the result of the operation above shows, there are used 14 words to describe the first 20000 articles in the dataframe. The amount of words used is depending on what column is used to build up the vectorizer (here it is "product_group_name"). And of course the limitation of the amount of articles (here 20000) has also an effect on the amount of the words used.

After calculating the tfidf_matrix, we need to compute the similarity between the articles. For this we use the cosine similarity (other possible similarity metrics are Euclidean or Pearson similarity). Instead of using the cosine_similarity function, we will use the linear_kernel function provided by sklearn.

In [239]:
from sklearn.metrics.pairwise import linear_kernel

# Compute the cosine similarity matrix
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)

In [240]:
tfidf_matrix

<20000x14 sparse matrix of type '<class 'numpy.float64'>'
	with 46511 stored elements in Compressed Sparse Row format>

In [241]:
print(tfidf_matrix[1])

  (0, 1)	0.5101112443555542
  (0, 13)	0.6925121203011946
  (0, 3)	0.5101112443555542

In [242]:
cosine_sim[0].shape

(20000,)

In [243]:
print(cosine_sim)
print("---"*30)
print("Shape of cosine_sim: " + str(cosine_sim.shape))

[[1.         1.         1.         ... 1.         0.43144042 0.43144042]
 [1.         1.         1.         ... 1.         0.43144042 0.43144042]
 [1.         1.         1.         ... 1.         0.43144042 0.43144042]
 ...
 [1.         1.         1.         ... 1.         0.43144042 0.43144042]
 [0.43144042 0.43144042 0.43144042 ... 0.43144042 1.         1.        ]
 [0.43144042 0.43144042 0.43144042 ... 0.43144042 1.         1.        ]]
------------------------------------------------------------------------------------------
Shape of cosine_sim: (20000, 20000)

In [244]:
#Construct a reverse map of indices and article_id
indices = pd.Series(df_articles_20k.index, index=df_articles_20k['article_id']).drop_duplicates()
print(indices)

article_id
0108775015        0
0108775044        1
0108775051        2
0110065001        3
0110065002        4
              ...
0586608009    19995
0586645001    19996
0586648001    19997
0586651002    19998
0586651005    19999
Length: 20000, dtype: int64

In [245]:
indices.loc[random_item].values

array([9183])

In [269]:
# Function that takes in article_id as input and outputs most similar articles
def get_recommendations(id, cosine_sim=cosine_sim):
    try:
        # Get the index of the article that matches article_id
        #print(indices.loc[id])
        idx = indices.loc[id]#.values[0]
    except:
        idx = indices.loc[id].values[0]
    #print(idx)
    # Get the pairwise similarity scores of all articles with that article
    sim_scores = list(enumerate(cosine_sim[idx]))
    #print((sim_scores[0]))
    # Sort the articles based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)

    # Get the scores of the 12 most similar articles, ignore the first as it is the searched article itself
    sim_scores = sim_scores[1:13]
    #print(sim_scores)
    # Get the article indices
    article_indices = [i[0] for i in sim_scores]

    # Return the top 12 most similar articles
    return ' '.join(df_articles_20k['article_id'].iloc[article_indices].to_list())

In [270]:
random_row = df_articles_20k.sample().reset_index()
#random_item = int(random_row.iloc[0][1])
random_item = random_row.article_id

# \033[4m and \033[0m is used to underline a string
print(f"Recommended items for item \033[4m{random_item}\033[0m:")
get_recommendations(random_item)
#print(type(xxx))

Recommended items for item 0    0583928001
Name: article_id, dtype: string:

''

In [273]:
get_recommendations('0568601043')

'0108775044 0108775051 0112679048 0112679052 0116379047 0145872001 0145872037 0145872043 0145872051 0145872052 0145872053 0146706001'

In [248]:
item_ids = df_articles_20k.article_id.to_list()

In [249]:
# compute wardrobe and dates for all customers, remove item ids that can't be predicted
df_transactions.t_dat = df_transactions.t_dat.dt.strftime('%Y-%m-%d')
wardrobe = df_transactions[df_transactions.article_id.isin(item_ids)].groupby('customer_id').article_id.agg(lambda id: ' '.join(id))
wardrobe_dates = df_transactions[df_transactions.article_id.isin(item_ids)].groupby('customer_id').t_dat.agg(lambda id: ' '.join(id))
df_wardrobe = pd.DataFrame({'dates':wardrobe_dates.astype('string'), 'wardrobe':wardrobe})

In [250]:
df_wardrobe = df_customers.join(df_wardrobe, on='customer_id', how='left').set_index('customer_id')

In [251]:
df_wardrobe.wardrobe = df_wardrobe.fillna('').wardrobe

In [252]:
baseline = '0706016001 0706016002 0372860001 0610776002 0759871002 0464297007 0372860002 0610776001 0399223001 0706016003 0720125001 0156231001'.split(' ')

In [256]:
df_wardrobe.head()

,FN,Active,club_member_status,fashion_news_frequency,age,postal_code,dates,wardrobe
customer_id,,,,,,,,
00000dbacae5abe5e23885899a1fa44253a17956c6d1c3d25f88aa139fdfc657,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...,2018-12-27 2019-05-25 2019-05-25 2020-09-05,0176209023 0568601006 0568601006 0568601043
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...,2018-09-21 2018-09-25 2018-09-27 2019-05-07 20...,0583558001 0521269001 0583558001 0351484002 04...
000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...,2018-09-20 2019-03-01 2020-02-03 2020-02-03,0541518023 0578020002 0351484002 0351484002
00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2c5feb1ca5dff07c43e,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...,<NA>,
00006413d8573cd20ed7128e53b7b13819fe5cfc2d801fe7fc0f26dd8d65a85a,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...,2019-10-01 2019-10-09,0399061015 0399061015

In [257]:
def predict_from_wardrobe(user_id, df_wardrobe, baseline, k=12):
    wardrobe = df_wardrobe.loc[user_id, 'wardrobe']
    if wardrobe == '':
        # cold start
        prediction = baseline
    else:
        # convert wardrobe to list with newest items first
        wardrobe = wardrobe.split(' ')[::-1]
        n_items = len(wardrobe)
#        i = 0
        # simplest most possible way: predict k items based on latest purchase
        item_id = wardrobe[0]
        try:
            prediction = get_recommendations(item_id).split(' ')
        except:
            print(item_id)
#        q = max(k//n_items, 4)
#        while (len(prediction) < k) and (i < n_items):
#            item_id = wardrobe[i]
#            best_items = recommend_from_item(item_id, item_id_map, item_id_map_rev, D_csr, k=12).split(' ')
#            while (len(prediction) < min(q, k)) and len(best_items) > 0:
#                item_id = best_items.pop(0)
                # recommend item if its not in wardrobe and hasn't already been recommended
#                if (item_id not in prediction) and (item_id not in wardrobe):
#                    prediction.append(item_id)
#            i += 1
#            q += q        
#        if len(prediction) < k:
#            print('Warning: incomplete predictions...')
    return ' '.join(prediction)

In [274]:
# make predictions for all users
tmp = df_wardrobe.copy()
tmp2 = tmp.reset_index().customer_id.apply(lambda id: predict_from_wardrobe(id, df_wardrobe, baseline, k=12))
tmp2 = pd.DataFrame({'customer_id':df_wardrobe.reset_index().customer_id, 'prediction':tmp2}).set_index('customer_id')
df_wardrobe['prediction'] = tmp2.prediction

In [275]:
df_wardrobe.head()

,FN,Active,club_member_status,fashion_news_frequency,age,postal_code,dates,wardrobe,prediction
customer_id,,,,,,,,,
00000dbacae5abe5e23885899a1fa44253a17956c6d1c3d25f88aa139fdfc657,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...,2018-12-27 2019-05-25 2019-05-25 2020-09-05,0176209023 0568601006 0568601006 0568601043,0108775044 0108775051 0112679048 0112679052 01...
0000423b00ade91418cceaf3b26c6af3dd342b51fd051eec9c12fb36984420fa,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...,2018-09-21 2018-09-25 2018-09-27 2019-05-07 20...,0583558001 0521269001 0583558001 0351484002 04...,0184123020 0188183001 0188183008 0188183009 01...
000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...,2018-09-20 2019-03-01 2020-02-03 2020-02-03,0541518023 0578020002 0351484002 0351484002,0184123020 0188183001 0188183008 0188183009 01...
00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2c5feb1ca5dff07c43e,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...,<NA>,,0706016001 0706016002 0372860001 0610776002 07...
00006413d8573cd20ed7128e53b7b13819fe5cfc2d801fe7fc0f26dd8d65a85a,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...,2019-10-01 2019-10-09,0399061015 0399061015,0108775044 0108775051 0112679048 0112679052 01...

In [276]:
# make frame containing all available individualized recommendations and join with customer table
# submission = pd.DataFrame({'prediction':tmp}, index=user_ids)
# submission = df_customers.join(submission, on='customer_id', how='left').set_index('customer_id')
# now fill empty predictions with baseline
# baseline_prediction = '0706016001 0706016002 0372860001 0610776002 0759871002 0464297007 0372860002 0610776001 0399223001 0706016003 0720125001 0156231001'
# submission.fillna(baseline_prediction, inplace=True)

In [277]:
# save to csv
df_wardrobe.loc[:, 'prediction'].to_csv('../data/content_based_sinan_20k.csv')

----

In [171]:
# reduce data, WARNING: more than 100k samples will take ages!
df = df_transactions.sample(100000, random_state=42)
# create new column filled with ones
df['rating'] = df['customer_id'].apply(lambda s: 1)
# now have rating be the number of times a customer bought an item
df = df.groupby(['customer_id', 'article_id']).sum()
df = df.drop(['price', 'sales_channel_id'], axis=1).reset_index()
# make sure ratings lie between 0 and 5 (very naive method)
df['rating'] = df.rating.apply(lambda r: min(r, 5))

In [173]:
df.head(50)

                                          customer_id  article_id  rating
0   00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...   399061015       1
1   00007d2de826758b65a93dd24ce629ed66842531df6699...   721257001       1
2   0000f1c71aafe5963c3d195cf273f7bfd50bbf17761c91...   612075001       1
3   0001ab2ebc1bb9a21d135e2fefdb11f12bee5c74ab2984...   742947001       1
4   0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...   756582001       1
5   0001f8cef6b9702d54abf66fd89eb21014bf98567065a9...   699867001       1
6   00023e3dd8618bc63ccad995a5ac62e21177338d642d66...   772927001       1
7   00035e92a9bd02a8e28e2e59721663fdeb39bfd57c4860...   673718001       1
8   0003abe64294e66a6310c3436fa9e5b754cc5603deef4f...   579541026       1
9   0003e867a930d0d6842f923d6ba7c9b77aba33fe2a0fbf...   377277001       1
10  0005340aa69bb5a28d98712a36d8f669024bce137e3c82...   865073005       1
11  0005cd85a6220e1f1c582c7ff9175efe7d7c16d184c5ba...   548603016       1
12  00079f6287599e8e3f3558e6787e8a2a241e6536b15a7a...   392220001       1
13  0007b8704284d09bac3c2590f187e0458a17e5f38a64ad...   773955001       1
14  000945fbfa84885dbf7c421f7a76d8cec39056551eb965...   565379001       1
15  000a452812a2c2f7d6de7bb8971a6d51593018d5a3af8c...   687173001       1
16  000a452812a2c2f7d6de7bb8971a6d51593018d5a3af8c...   691799002       1
17  000a74a8ce6e616c1d26d186d8ffae487878b89223b60f...   708546001       1
18  000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...   758049001       1
19  000fab9caf56e8060680e5fd82d709ade7496318832201...   814116001       1
20  000fb6e772c5d0023892065e659963da90b1866035558e...   717810003       1
21  000fb6e772c5d0023892065e659963da90b1866035558e...   781381003       1
22  000fb6e772c5d0023892065e659963da90b1866035558e...   817086002       1
23  000fb6e772c5d0023892065e659963da90b1866035558e...   846139002       1
24  0010e8eb18f131e724d6997909af0808adbba057529edb...   555326010       1
25  0012cb3404b7e0a54c6b88b20b35aa8944c264fa9975ac...   788176002       1
26  0013ee81b0ad8b637fcf8f4b5284934e947b28664d778d...   688537004       1
27  0013f449e052e25eb210d9ded84cb9b12ea7c8f6e6eb93...   111586001       1
28  0014b19aa47d031d859ae8d8f776524cdd35349db69d64...   773955001       1
29  00158a314c37206e415b95c9807110978746707242257b...   832309007       1
30  0015e1028e70b159e9bee92455c4782e72fb4ceb3fccb6...   671513001       1
31  0015e1028e70b159e9bee92455c4782e72fb4ceb3fccb6...   870304001       1
32  0015e279d3b4e775e053658bc87d37807babc40c3cad50...   634009017       1
33  0016b98191cdd059be5662dbf1d2b634cbfb7132b1d62f...   673930007       1
34  0017991a9d4336804a3782d9b2592cbb01b7699aecbae1...   799431001       1
35  0018a4640de2338492de0fcc8325d6f6687d0c7980d804...   759814011       1
36  001a115cf237a707724f28640c8fab25c2c3b16b08a6ef...   797710001       1
37  001ba9e81e13ce12a2585d9ebde923fe74429e9e12ea59...   677037005       1
38  001cb0cd244c58fa35f9eb21f995b9e2f3e0c67c4e89af...   464297031       1
39  001cd4541544c87a2c9fb19bad430646eadc24226d8358...   706016006       1
40  001d5cd98fcdbc6bde738b8ad6041b67ca1e3e8be5c4c0...   399256005       1
41  001db36cef56afb028d925a481c1d4c83e87be22aae7b3...   697054004       1
42  001ea4e9c54f7e9c88811260d954edc059d596147e1cf8...   731407005       1
43  001eccaf68dc46d3068308771c69ab9103972f4f743c94...   575347011       1
44  001f49c942ba4ec090445c59af511fdbad1f5899235b82...   661306005       1
45  001f6d87755fc28b2ff2b67165ca73103ad8c959515204...   557599001       1
46  00201f34c8c92683263346d78c2b45ffd0c6927229542d...   488561021       1
47  0020a3067dd6f6f14cbbb291061142a2b717beb629d62a...   664133002       1
48  002253f0e3869ca2833ca2dfec4f8995ad9cdf8ca2333a...   524529013       1
49  002253f0e3869ca2833ca2dfec4f8995ad9cdf8ca2333a...   735840009       1

In [134]:
def calc_basketsize (purchases):
    """Function to generate dataframe with basketsizes out of dataframe with single purchases (e.g. dataframe from transaction_train.csv). 
    Assumption: Purchases of an individual customer on one day form an order.

    Args:
        purchases (_dataframe_): Dataframe which contains single purchases per customer in each row
    """    
    
    purchases['datetime'] = pd.to_datetime(purchases['t_dat'])

    orderbaskets = purchases.groupby(['datetime', 'customer_id']).size().reset_index()
    orderbaskets.rename(columns={0: "basketsize"}, inplace=True)

    return orderbaskets

In [135]:
test_df = calc_basketsize(df_transactions)

In [153]:
test_df.head(50)

     datetime                                        customer_id  basketsize
0  2018-09-20  000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...           2
1  2018-09-20  00007d2de826758b65a93dd24ce629ed66842531df6699...           5
2  2018-09-20  00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4...           5
3  2018-09-20  0008968c0d451dbc5a9968da03196fe20051965edde741...           2
4  2018-09-20  000aa7f0dc06cd7174389e76c9e132a67860c5f65f9706...          30
5  2018-09-20  001127bffdda108579e6cb16080440e89bf1250a776c6e...           1
6  2018-09-20  001ea4e9c54f7e9c88811260d954edc059d596147e1cf8...           2
7  2018-09-20  001fd23db1109a94bba1319bb73df0b479059027c182da...           2
8  2018-09-20  0021da829b898f82269fc51feded4eac2129058ee95bd7...           4
9  2018-09-20  00228762ecff5b8d1ea6a2e52b96dafa198febddbc3bf3...           1
10 2018-09-20  002b3c0a44a22c45a8d62ea9d2b88d1a89e335f8b84003...           3
11 2018-09-20  003ac6eff3ca20cbe4e14a106a5e28b7551616005de8f9...           4
12 2018-09-20  00401a367c5ac085cb9d4b77c56f3edcabf25153615db9...          11
13 2018-09-20  00402f4463c8dc1b3ee54abfdea280e96cd87320449eca...           2
14 2018-09-20  0045c79125b4dc958579f902b49eacd8598f9eeaa12205...           4
15 2018-09-20  004888668b9458668aa3234d17337671673599f7f84d36...           1
16 2018-09-20  0051a1d00ec9a4ff1a2f9aa32a4bb054cc9ba08e80be59...           1
17 2018-09-20  005c9fb2ba6c49b2098a662f64a9124ef95cbec5fcf4eb...           4
18 2018-09-20  00609a1cc562140fa87a6de432bef9c9f0b936b259ad30...           5
19 2018-09-20  00708c3da4d07706d4cad77c6aecc1b1ce33d21d73022c...           3
20 2018-09-20  0074c5948b6c96e7522f6f5c034b46cf08875b9a81c557...           1
21 2018-09-20  00761aefe07a2dd6ca110c99f3856ede55f20ff00ce754...           3
22 2018-09-20  0077ba345ef6aa8781802107df25bbb8a14fdcd04130c3...           1
23 2018-09-20  00796ce0bc561897e7047a7b059867aa6424f63ec597e1...           1
24 2018-09-20  007e4c2e0994b4aac97c2713d5dc0b7497d74113f32446...           1
25 2018-09-20  007ea762fbbebfad288a49f1d8f7c2c0c62b189a8816fa...           1
26 2018-09-20  007f094708bc97c9ce41a7e75237ef2d16ae45319ebadd...           4
27 2018-09-20  00873fc0f81215241785b49518e6758a2c26c0eac4825e...           6
28 2018-09-20  00889357d9b1e0e3788fbe8fd7448580b9e51800f59196...           1
29 2018-09-20  008997ffbc4cdb3a41572eb25b2cc918666a6f2a13f394...           1
30 2018-09-20  008a118b7c72fd3b8a614eb2672ddfc2a78434c5776af2...           2
31 2018-09-20  0091c0e943c92167ea78f6ac180636be4098b06c1a066c...           1
32 2018-09-20  00923f88cda50cbea4c5ceb2bd3467c620a9d74cb7da95...           3
33 2018-09-20  0095c9b47fc950788bb709201f024c5338838a27c59c02...           3
34 2018-09-20  00a017d6e1010e117e3881be44027688795bf5f3c36369...           3
35 2018-09-20  00a4f2c8cc87ffb0ea7db47b4b0b247b9ef11033c8d976...           1
36 2018-09-20  00a64e86897e28b304195ad497bc63234a3ab00a5eb247...           1
37 2018-09-20  00a95aa4ba8d20f1bad415bab15ca6174a762f7550c819...           1
38 2018-09-20  00aa02ce95fc11f654a76101fd39a3db6b29879fddd8f8...           2
39 2018-09-20  00ac5119d21281802ecd309e8c7fa0b598e0be861f21ca...           4
40 2018-09-20  00b10bf5c51e961bd91f7ed9081b1bc6fc7e86000c2bed...           1
41 2018-09-20  00b1804e347ad55d1a75d7c07169e17d1890ad48953824...           1
42 2018-09-20  00b5b1446be091d4913765cf2cc01edc7e0d3820e1b8a4...           2
43 2018-09-20  00b5bd5358a05155631bf733a933ecff5eb872f5143af5...           3
44 2018-09-20  00b6ec8613e51d8eadc5157f5a12ae1366ca29da7d44cc...           3
45 2018-09-20  00b85712d5e677f7ae3bfa9f9b5780a6eb328e99aeea63...           1
46 2018-09-20  00be0a263381af38132d31225e8fb12fbc527c654b4464...           1
47 2018-09-20  00c09e66121ad36f5a8d5039cda266d60bc53daac0b7ad...           1
48 2018-09-20  00c59bdfaf753688c62cc13f67382dd54275f776a2f6a6...           6
49 2018-09-20  00c83c269bedcb5135799d3bc4a7ae6f134d57bdd1be07...           1

In [163]:
customer_id = test_df.customer_id.drop_duplicates()

In [166]:
print(customer_id.shape)
print(customer_id[0])

(1362281,)
000058a12d5b43e67d225668fa1f8d618c13dc232df0cad8ffe7ad4a1091e318

In [169]:
one_customer = test_df[test_df["customer_id"] == customer_id[2]]

In [170]:
one_customer

,datetime,customer_id,basketsize
2,2018-09-20,00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4...,5
445471,2018-10-24,00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4...,9
480456,2018-10-26,00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4...,2
528168,2018-10-29,00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4...,1
1589387,2019-01-23,00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4...,2
1800341,2019-02-10,00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4...,7
6891193,2020-04-01,00083cda041544b2fbb0e0d2905ad17da7cf1007526fb4...,1