In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm import tqdm
import warnings
warnings.filterwarnings('ignore')

In [26]:
df_trans = pd.read_csv('../data/transactions_train.csv', dtype={'article_id':'string'})

In [30]:
df_pur_articles = df_trans.article_id.value_counts().reset_index()
df_pur_articles.rename(columns={"index": "article_id", "article_id":"sales_count"}, inplace=True)

In [143]:
df_pur_articles

        article_id  sales_count
0       0706016001        50287
1       0706016002        35043
2       0372860001        31718
3       0610776002        30199
4       0759871002        26329
...            ...          ...
104542  0843960001            1
104543  0504357001            1
104544  0503831002            1
104545  0586608009            1
104546  0533261032            1

[104547 rows x 2 columns]