In [56]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from tqdm import tqdm
import gc
import warnings
warnings.filterwarnings('ignore')

# 1.0 Load submission data and real purchases in test period

In [57]:
# Load submission file:
df_submission = pd.read_csv('../data/baseline_submission.csv')

# Set modelname:
model_name = 'baseline_top12'

In [58]:
# Load transactions:
df_trans = pd.read_csv('../data/transactions_train.csv', parse_dates=[0], dtype={'article_id':'string'})
df_trans.head()

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,0541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,0685687004,0.016932,2

In [59]:
# Set start and end date:

test_week_no = 3

if test_week_no == 1:
    start_date = "2020-08-26"
    end_date = "2020-09-01"
elif test_week_no == 2:
    start_date = "2020-09-02"
    end_date = "2020-09-08"
elif test_week_no == 3:
    start_date = "2020-09-09"
    end_date = "2020-09-15"
else:
    start_date = "2020-09-09"
    end_date = "2020-09-15"

# Load purchases in test period:
df_test_week = df_trans.query(f't_dat >= "{start_date}" and t_dat <= "{end_date}"').copy()
# Drop not necessary columns:
df_test_week = df_test_week.drop(columns=['t_dat', 'sales_channel_id'])

print(f'Number of purchases in test-week are: {df_test_week.shape[0]}')

df_test_week.head()

Number of purchases in test-week are: 255241

,customer_id,article_id,price
31292772,000493dd9fc463df1acc2081450c9e75ef8e87d5dd17ed...,0399136061,0.083390
31292773,000493dd9fc463df1acc2081450c9e75ef8e87d5dd17ed...,0732842014,0.066712
31292774,000493dd9fc463df1acc2081450c9e75ef8e87d5dd17ed...,0556255001,0.010000
31292775,000493dd9fc463df1acc2081450c9e75ef8e87d5dd17ed...,0852219003,0.008322
31292776,000493dd9fc463df1acc2081450c9e75ef8e87d5dd17ed...,0732842021,0.066712

In [ ]:
# NOT NEEDED:
# Create wardrobe for testweek:
# df_wardrobe_week = df_test_week.groupby('customer_id')[['article_id','price']].aggregate(lambda x: list(x)).reset_index().copy()
# df_wardrobe_week.head()

In [60]:
# Convert prediction-string to list
df_submission['prediction2'] = df_submission['prediction'].apply(lambda x: list(x.split(' ')))

# Cut prediction-list to 12 elements (only for Marketbasket-Submission necessary)
df_submission['prediction_12'] = df_submission['prediction2'].apply(lambda x: x[0:12])

# Drop not necessary columns:
df_submission = df_submission.drop(columns=['prediction', 'prediction2'])

df_submission.head()

,customer_id,prediction_12
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,"[0706016001, 0706016002, 0372860001, 061077600..."
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,"[0706016001, 0706016002, 0372860001, 061077600..."
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,"[0706016001, 0706016002, 0372860001, 061077600..."
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,"[0706016001, 0706016002, 0372860001, 061077600..."
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,"[0706016001, 0706016002, 0372860001, 061077600..."

# 2.0 Collect all prices from forecasted products

In [ ]:
# Loop through datasets to get forecasted products:
#price_list = []
#article_list = []
# for i in tqdm(range(0,10000)):
#for i in tqdm(range(len(df_test_week))):
#    df_sub_cust = df_submission.query(f'customer_id == "{df_test_week.customer_id.iloc[i]}"')
#    if df_test_week.article_id.iloc[i] in df_sub_cust.prediction_12.iloc[0]:
#        price_list.append(df_test_week.price.iloc[i])
#        article_list.append(df_test_week.article_id.iloc[i])


#print(f'Number of found prices: {len(price_list)}')
#print(f'Number of forecasted articles: {len(article_list)}')

In [177]:
# alternative to cell above
def count_hits(actual, predicted, prices):
    # find items that were both predicted and bought (repeat buys will only appear once though)
    isect = np.intersect1d(actual, predicted)
    # count taking into account repeat buys
    actual = np.array(actual)
    prices = np.array(prices)
    hits = np.sum([len(actual[actual == x]) for x in predicted])
    # collect items and prices
    items = []
    prices_out = []
    for item in isect:
        items.extend([item for i in range(len(actual[actual == item]))])
        prices_out.extend(prices[actual == item])
    return (hits, items, prices_out)

# collect bought items per user for test week
actually_bought = df_test_week.groupby('customer_id').article_id.apply(list).rename('actually_bought')
actually_paid = df_test_week.groupby('customer_id').price.apply(list).rename('actually_paid')
# collect associated predictions and concat
predicted = df_submission.set_index('customer_id').loc[actually_bought.index, 'prediction_12']
df_tmp = pd.concat([actually_bought, predicted, actually_paid], axis=1)
# compute intersection of actual vs. prediction (with repeat buys)
intersection = df_tmp.apply(lambda row: count_hits(row.actually_bought, row.prediction_12, row.actually_paid)[0], axis=1)
# compute list of correctly predicted items
correctly_predicted = df_tmp.apply(lambda row: count_hits(row.actually_bought, row.prediction_12, row.actually_paid)[1], axis=1)
# drop all users that have no intersection (no hits)
intersection = intersection[intersection > 0]
correctly_predicted = correctly_predicted.loc[intersection.index]
article_list = correctly_predicted.apply(lambda l: ' '.join(l)).str.cat(sep=' ').split(' ')
price_list = df_tmp.apply(lambda row: count_hits(row.actually_bought, row.prediction_12, row.actually_paid)[2], axis=1)
price_list = price_list.reset_index().set_index('customer_id').loc[intersection.index]
price_list = price_list.iloc[:, 0].apply(lambda l: [str(x) for x in l]).apply(lambda s: ' '.join(s)).str.cat(sep=' ').split(' ')
price_list = [float(price) for price in price_list]
print(f'Number of found prices: {len(price_list)}')
print(f'Number of forecasted articles: {len(article_list)}')

Number of found prices: 2411
Number of forecasted articles: 2411

# 3.0 Calculate turnover & hitrate in test week

In [178]:
print(f'This calculation regards the model "{model_name}" in the week between {start_date} and {end_date}.\n')
print(f'Number of purchased articles: {df_test_week.shape[0]}')

# Calculate hitrate:
hits = len(article_list)
sold_articles = df_test_week.shape[0]
hitrate = hits/sold_articles

# Calculate turnover:
turnover_week = df_test_week.price.sum()

# Calculate forecasted turnover and share:
forecasted_turnover = sum(price_list)
forecast_share = forecasted_turnover/turnover_week

print(f'The hitrate is: {round(hitrate*100, 2)} %')
print(f'Turnover in this week is €: {round(turnover_week, 2)}')
print(f'The forecasted turnover is €: {round(forecasted_turnover, 2)}')
print(f'\nWe are able to forecast the following share of turnover:\n{round(forecast_share*100, 4)} %')

# Append to list for saving as csv:
result_list = []
result_list.append(model_name)
result_list.append(start_date)
result_list.append(end_date)
result_list.append(sold_articles)
result_list.append(hits)
result_list.append(hitrate)
result_list.append(turnover_week)
result_list.append(forecasted_turnover)
result_list.append(forecast_share)

This calculation regards the model "baseline_top12" in the week between 2020-09-09 and 2020-09-15.

Number of purchased articles: 255241
The hitrate is: 0.94 %
Turnover in this week is €: 8675.32
The forecasted turnover is €: 55.07

We are able to forecast the following share of turnover:
0.6348 %

# 4.0 Save price-list, article-list and results in csv

In [179]:
# Convert price-list and article-list to dataframe and save as csv:

df_forecast = pd.DataFrame(list(zip(article_list, price_list)), columns =['article_id', 'price'])
df_forecast.to_csv(f'../data/forecast-results_{model_name}_{start_date}_{end_date}.csv', index=False)
df_forecast.head()

   article_id     price
0  0610776002  0.008458
1  0372860001  0.012119
2  0156231001  0.008458
3  0706016001  0.033881
4  0759871002  0.006763

In [180]:
# Save results in csv
from csv import writer
def append_list_as_row(file_name, list_of_elem):
    # Open file in append mode
    with open(file_name, 'a+', newline='') as write_obj:
        # Create a writer object from csv module
        csv_writer = writer(write_obj)
        # Add contents of list as last row in the csv file
        csv_writer.writerow(list_of_elem)

In [181]:
# Append a list as new line to an old csv file
append_list_as_row('../data/collection_forecast_results.csv', result_list)